.form-control {
    height: 37px;
}
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard {
    /* display: table;
     width: 100%;
     position: relative; */
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}


.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    padding-right: 10px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.user-genre {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
}

.user-genre li {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.user-genre label,
.user-genre input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 32px;
}

.user-genre input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.user-genre input[type="radio"]:checked+label,
.Checked+label {
    background: rgba(223, 227, 181, 0.9);
}

.user-genre label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
    padding-left: 25%;
}

.user-genre label:hover {
    background: #DDD;
}

input.chk-btn {
    display: none;
}
input.chk-btn + label {
    border: 1px solid grey;
    background: ghoswhite;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
}
input.chk-btn:not(:checked) + label:hover {
    box-shadow: 0px 1px 3px;
}
input.chk-btn + label:active,
input.chk-btn:checked + label {
    background: #eee;
}
.btn-circle-not-selected{
    background-color: #efe4e8;
}
.btn-circle-selected{
    background-color: #ff89cb;
}
